.main {
	padding: 20px;
	display: flex;
	height: 56px;
}
.input {
	width: 810.5px;
	height: 56px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.MuiButton-root {
	margin: 0px 0px 0px 10.5px;
}
